<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/proverbs">Proverbs</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="/proverbs">Home</a>
            <a class="nav-link" href="/proverbs/new">Add New</a>
        </div>

        <div class="navbar-nav ml-auto">
          <% if(!currentUser){ %>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Register</a>
          <% } else{%>
            
          <a class="nav-link" href="/logout">Logout</a>
          <% } %>
      </div>

      </div>
    </div>
  </nav>